# Виртуальное окружение
.venv/

# Переменные окружения и секреты
.env

# Кэш Python
__pycache__/
*.py[cod]
*.pyo

# Инструменты разработки
.idea/
.vscode/

# Тесты и логи
.pytest_cache/
*.log

# Системные файлы
.DS_Store
Thumbs.db